/* GitHub Repo: https://github.com/scalableminds/chatroom */
/* Source: https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.css */

.chatroom {
    width: 100%;
    height: 600px;
    color: #2C3951; /* Color of the loading dots */
    max-height: 90vh;
    background-color: hsla(0, 0%, 78.4%, 0.9);
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    letter-spacing: normal;
    overflow: hidden;
    box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.8);
}

.chatroom,
.chatroom * {
    box-sizing: border-box;
}

.chatroom.closed {
    height: 40px;
}

.chatroom h3 {
    background-color: #2C3951;
    color: #FFFFFF;
    margin: 0;
    height: 40px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chatroom .chats {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    height: calc(100% - 80px); /* 100% - (.chatroom .input height + .chatroom h3 height) */
    overflow-y: scroll;
    background-color: white;
    border: 1px solid #574AE2;
    border-top: 7px solid #574AE2;
    border-bottom: 7px solid #574AE2;
    -webkit-overflow-scrolling: touch;
}

.chatroom .chats .chat {
    position: relative;
    padding: 5px 15px;
    border-radius: 20px;
    list-style: none;
    float: left;
    clear: both;
    margin: 10px 0 0 0;
    max-width: 90%;
}

.chatroom .chats .chat img {
    border-radius: 20px;
    border-top-left-radius: 0;
    max-width: 100%;
    vertical-align: middle;
}

.chatroom .chats .chat.left {
    float: left;
    clear: both;
    border-top-left-radius: 0;
    color: #574AE2;
    background-color: #ECEFF7;
}

.chatroom .chats .chat.right {
    float: right;
    clear: both;
    border-top-right-radius: 0;
    color: #ECEFF7;
    background-color: #574AE2;
}

.chatroom .chats .chat .text {
    word-wrap: break-word;
}

.chatroom .chats .chat.chat-img {
    padding: 0;
}

.chatroom .chats .chat a {
    text-decoration: none;
    color: #3498DB;
}

.chatroom .chats .chat ol,
.chatroom .chats .chat ul {
    margin: 0;
    padding-left: 1.5em;
}

.chatroom .chats .chat ol li,
.chatroom .chats .chat ul li {
    padding-left: 0;
}

.chatroom .chats .chat.waiting { /* Loading dots */
    color: #574AE2;
    font-size: 1.5em;
    padding: 0;
    margin: 0 10px;
    background: transparent;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
    }
}

.chatroom .chats .chat.waiting span {
    font-size: 1.5em;
    animation-name: fade;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out; transform: rotate(60deg);
}

.chatroom .chats .chat.waiting span:first-child {
    animation-delay: 0s;
}

.chatroom .chats .chat.waiting span:nth-child(2) {
    animation-delay: 0.3s;
}

.chatroom .chats .chat.waiting span:nth-child(3) {
    animation-delay: 0.6s;
}

.chatroom .chats .time {
    list-style: none;
    clear: both;
    height: 10px;
    font-style: italic;
    font-size: 10px;
    color: #9C9FA7;
    margin: 0px;
}

.chatroom .chats .time.left {
    float: left;
    margin-left: 15px;
}

.chatroom .chats .time.right {
    float: right;
    margin-right: 15px;
}

.chatroom .chats .chat-buttons {
    position: relative;
    padding: 0;
    font-size: 14px;
    list-style: none;
    clear: both;
    margin: 10px 0;
    text-align: center;
}

.chatroom .chats .chat-buttons .chat-button {
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 3px;
    background-color: #2C3951;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 5px 10px;
    letter-spacing: normal;
    border-radius: 5px;
}

.chatroom .chats .chat-buttons .chat-button.chat-button-selected,
.chatroom .chats .chat-buttons .chat-button:hover {
    background-color: rgba(52, 61, 78, 0.6);
    color: #FFFFFF;
}

.chatroom .chats .chat-buttons .chat-button.chat-button-disabled {
    color: grey;
    border: 2px solid grey;
}

.chatroom .input {
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0 5px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #574AE2;
}

.chatroom .input input[type="text"] {
    outline: 0;
    color: #2C3951;
    padding: 0 5px;
    height: 100%;
    flex: 5;
    box-sizing: border-box;
    border: none;
}

.chatroom .input input[type="submit"] {
    display: inline-block;
    /*flex: 1;*/
    background: transparent;
    color: #574AE2;
    height: 30px;
    width: 30px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: none;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

.chatroom .input input[type="submit"]:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.chatroom #speech-input { /* Voice input not used */
    height: 30px;
    width: 30px;
    margin-left: 5px;
    background: #2C3951;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.chatroom #speech-input:hover { /* Voice input not used */
    background: hsla(0, 0%, 100%, 0.8);
}

.chatroom .vertical-center {
    vertical-align: middle;
}
