html {
    font-size: 14px;
    font-family: sans-serif;
    display: block;
    
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #4d4b4b;
    line-height: 1.6;
}

.chat-container {
    width: 25vw;
    float: right;
}